@model CodeChallange9_mvc.Models.Customer
@{
    ViewBag.Title = "CustomerOrder";
}

<h2>CustomerOrder with id == 10248</h2>
<div>
    <h4>Customer</h4>
    <hr />
    <dl>
        <dt>Customer ID</dt>
        <dd>@Model.CustomerID</dd>

        <dt>Company Name</dt>
        <dd>@Model.CompanyName</dd>

        <dt>Contact Name</dt>
        <dd>@Model.ContactName</dd>

        <dt>Contact Title</dt>
        <dd>@Model.ContactTitle</dd>

        <dt>Address</dt>
        <dd>@Model.Address</dd>

        <dt>City</dt>
        <dd>@Model.City</dd>

        <dt>Region</dt>
        <dd>@Model.Region</dd>

        <dt>Postal Code</dt>
        <dd>@Model.PostalCode</dd>

        <dt>Country</dt>
        <dd>@Model.Country</dd>

        <dt>Phone</dt>
        <dd>@Model.Phone</dd>

        <dt>Fax</dt>
        <dd>@Model.Fax</dd>

    </dl>
</div>

